name: Unit Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions: {}

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies
        run: yarn install

      - name: Run Unit Tests
        run: yarn test
